{% extends "../base.html" %}

<!-- load -->
{% load static %}
{% load admin_urls %}
{% load crispy_forms_tags %}

{% block content %}
<!-- header -->
<!-- breadcrumbs -->
	<div class="breadcrumbs">
		<div class="container">
			<ol class="breadcrumb breadcrumb1 animated wow slideInLeft" data-wow-delay=".5s">
				<li><a href="{% url 'home' %}"><span class="glyphicon glyphicon-home" aria-hidden="true"></span>Home</a></li>
			
		</div>
	</div>
<!-- //header -->
<!-- login -->
	<div class="login">
		<div class="container">
			<h2>Your groceries, delivered safely.</h2>
		
			<div class="container">
				{% if user.is_authenticated %}
					<h1>Hello, {{user.first_name}}</h1>
					<h1><a href="{% url 'logout' %}" class="btn btn-link btn-lg">Log out</a></h1>
				{% else %}
                	<h1><a href="{% url 'login' %}" class="btn btn-link btn-lg">Log in</a></h1>
                	<h1><a href="{% url 'register' %}" class="btn btn-link btn-lg">Register</a></h1>
				{% endif %}
			</div>
			<!-- <h4>For New People</h4>
			<p><a href="{% url 'register' %}">Register Here</a></span></a></p>
			<p><a href="{% url 'storeLocator' %}">See Nearby Stores</a></span></a></p> -->
		</div>
	</div>
<!-- //login -->
{% endblock %}