{% extends "../base.html" %}

<!-- load -->
{% load static %}
{% load admin_urls %}
{% load crispy_forms_tags %}

{% block current_page %}{%endblock%}

{% block content %}
<!-- header -->
<!-- login -->
	<div class="login" style="margin: auto; width: 100%; text-align: center; margin-top: -220px;">
		<video autoplay muted loop>
			<source src="{% static 'videos/veggies0.mp4' %}" type="video/mp4">
		</video>

		<div style="position: relative; margin: auto; width: 70%;">
			<img src="{% static 'images/logo.PNG' %}" style="width:160px;height:160px; float: center;">
			<h5 style="color: rgb(255, 123, 0); font-weight: 100; font-size: 72px; padding-bottom: 50px; text-align: center">grocceries</h5>
		</div>
		<div class="container" style="background-color:rgba(0, 0, 0, 0.5); position: relative; margin: auto; width: 70%; text-align: center; border-style: ridge; padding: 50px;">
			<h2 style = "color: white; font-weight: 300; text-transform: none;">Your groceries, delivered to your door.</h2>
		
			<div class="container" style="position: relative; margin: auto; width: 100%; text-align: center; padding-top: 50px; z-index: 0;">
				{% if user.is_authenticated %}
					<h1 style="color: white; text-decoration: none; font-weight: 300; font-size: 42px; padding-bottom: 40px;">Welcome, {{user.first_name}}.</h1>
					<h1 style = "padding: 10px"><a href="{% url 'storeLocator' %}" class="btn btn-outline" style="border-radius: 0; color: white; width: 250px; background-color: rgb(255, 123, 0); font-weight: 300; text-decoration: none; font-size: 32px;" onmouseover="this.style.backgroundColor='rgb(252, 185, 28)';" onmouseout="this.style.backgroundColor='rgb(255, 123, 0)';">Start shopping</a></h1>
                	<h1 style = "padding: 10px"><a href="{% url 'logout' %}" class="btn btn-outline" style="border-radius: 0; color: white; width: 250px; background-color: rgb(255, 123, 0); font-weight: 300; text-decoration: none; font-size: 32px;" onmouseover="this.style.backgroundColor='rgb(252, 185, 28)';" onmouseout="this.style.backgroundColor='rgb(255, 123, 0)';">Log out</a></h1>
				{% else %}
                	<h1 style = "padding: 10px"><a href="{% url 'login' %}" class="btn btn-outline" style="border-radius: 0; color: white; width: 200px; background-color: rgb(255, 123, 0); font-weight: 300; text-decoration: none; font-size: 32px;" onmouseover="this.style.backgroundColor='rgb(252, 185, 28)';" onmouseout="this.style.backgroundColor='rgb(255, 123, 0)';">Log in</a></h1>
                	<h1 style = "padding: 10px"><a href="{% url 'register' %}" class="btn btn-outline" style="border-radius: 0; color: white; width: 200px; background-color: rgb(255, 123, 0); font-weight: 300; text-decoration: none; font-size: 32px;" onmouseover="this.style.backgroundColor='rgb(252, 185, 28)';" onmouseout="this.style.backgroundColor='rgb(255, 123, 0)';">Register</a></h1>
				{% endif %}
			</div>
			<!-- <h4>For New People</h4>
			<p><a href="{% url 'register' %}">Register Here</a></span></a></p>
			<p><a href="{% url 'storeLocator' %}">See Nearby Stores</a></span></a></p> -->
		</div>
	</div>
<!-- //login -->
{% endblock %}