{%extends "../base.html" %}

{% load static %}
{% load admin_urls %}
{% load crispy_forms_tags %}

{% block content %}
<!-- Scripts -->
<script type="text/javascript" src="{% static 'register/js/form_validation.js' %}"></script>

<!-- breadcrumbs -->
	<div class="breadcrumbs">
		<div class="container">
			<ol class="breadcrumb breadcrumb1 animated wow slideInLeft" data-wow-delay=".5s">
				<li><a href="{% url 'home' %}"><span class="glyphicon glyphicon-home" aria-hidden="true"></span>Home</a></li>
				<li class="active">Register Page</li>
			</ol>
		</div>
	</div>
<!-- //breadcrumbs -->
<!-- register -->
	<div class="register">
		<div class="container">
			<h2>Register Here</h2>
    <!-- Do something which you want to do with unauthenticated user -->
			<div class="login-form-grids">
				<h5>profile information</h5>
				<form class = form-group method="POST" >
					{% csrf_token %}
				 
					{{registration_form|crispy}}
					{% comment %} {{registration_form.username | as_crispy_form}}
					<medium id="validate_user_name" class="text-muted hidden">
					<font color="red">
						User Name Already Exits!
					</font> {% endcomment %}
					</medium><br />

					<div class="register-check-box">
						<div class="check">
							<label class="checkbox"><input type="checkbox" name="checkbox"><i> </i>I accept the terms and conditions</label>
						</div>
					</div>
					<input type="submit" value="Register">
				</form>
			</div>
			<div class="register-home">
				<p><a href="{% url 'home' %}">Back to Login</a></span></a></p>
			</div>
		</div>
	</div>
<!-- //register -->
{% endblock %}