{%extends "../base.html" %}

{% load static %}
{% load admin_urls %}
{% load crispy_forms_tags %}

{% block content %}
<!-- breadcrumbs -->
	<div class="breadcrumbs">
		<div class="container">
			<ol class="breadcrumb breadcrumb1 animated wow slideInLeft" data-wow-delay=".5s">
				<li><a href="{% url 'home' %}"><span class="glyphicon glyphicon-home" aria-hidden="true"></span>Home</a></li>
				<li class="active">Register Page</li>
			</ol>
		</div>
	</div>
<!-- //breadcrumbs -->
<!-- register -->
	<div class="register">
		<div class="container">
			<h2>Register Here</h2>
			<!-- {% if emailPresent == True %} -->
				<h4 style="color:red;text-align:center;margin-top: 5em;" >Email is already taken</h4>

    <!-- Do something which you want to do with unauthenticated user -->
			<!-- {% endif %} -->
			<div class="login-form-grids">
				<h5>profile information</h5>
				<form class = form-group method="POST" >
					{% csrf_token %}
					<!-- <input type="text" placeholder="First Name..." required=" " >
					
					<input type="text" placeholder="Last Name..." required=" " >
					<input type="email" placeholder="Email Address" required=" " >
				
				 -->
				 
					{{form|crispy}}
					<div class="register-check-box">
						<div class="check">
							<label class="checkbox"><input type="checkbox" name="checkbox"><i> </i>I accept the terms and conditions</label>
						</div>
					<!-- <input type="email" name = "userEmail" placeholder="User Name" required=" " >
					<input type="password" placeholder="Password" required=" " >
					<input type="password" placeholder="Password Confirmation" required=" " >
					
					</div> -->
					<input type="submit" value="Register">
				</form>
			</div>
			<div class="register-home">
				<p><a href="{% url 'home' %}">Back to Login</a></span></a></p>
			</div>
		</div>
	</div>
<!-- //register -->
{% endblock %}