{%extends "../base.html" %}

{% load static %}
{% load admin_urls %}
{% load crispy_forms_tags %}

{% block current_page %}Register{%endblock%}

{% block content %}

<link rel="stylesheet" href="{% static 'css/intlTelInput.css' %}">



<!-- //Scripts -->

<!-- register -->
	<div class="register">
		<div class="container">
			<h2>Register Here</h2>
    <!-- Do something which you want to do with unauthenticated user -->
			<div class="login-form-grids">
			<br>
				<form id="form" method="POST" >
					{% csrf_token %}
					{% crispy registration_form %}
					{% comment %} <script src="{% static 'js/intlTelInput.js' %}"></script>
					<script>
					var input = document.querySelector("#id_phone");
					var iti = window.intlTelInput(input, {
						preferredCountries: ["us", "uk", "ca"],
						utilsScript: "https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.12/js/utils.js"
						// any initialisation options go here
					});
					</script> {% endcomment %}
				</form>
				{% comment %} <script>
					$("#form").submit( function(){
						var elements = document.querySelectorAll("input[name=phone]");
						elements.value = iti.getNumber();
						{{ registration_form}}
						return true;
					});
				</script> {% endcomment %}
			</div>
			<div class="register-home">
				<p><a href="{% url 'home' %}">Back to Login</a></span></a></p>
			</div>
		</div>
	</div>
<!-- //register -->

{% endblock %}