{% load static %}
{% load admin_urls %}
<!DOCTYPE HTML>
<!--
	Hielo by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
		
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="{% static 'css/main.css' %}" />
	</head>
	<body>

		<!-- Header -->
			<header id="header" class="alt">
				<div class="logo"><a href="{% url 'home' %}">Grocceries <span>by Crazy Butterflies</span></a></div>
				<a href="#menu">Menu</a>
			</header>

		<!-- Nav -->
			<nav id="menu">
				<ul class="links">
					<li><a href="{% url 'home' %}">Home</a></li>
					<li><a href="{% url 'about' %}">About</a></li>
					<li><a href="{% url 'dailyMeetings' %}">Daily Meetings</a></li>
					<li><a href="{% url 'projectDocuments' %}">Project Documents</a></li>
				</ul>
			</nav>

		<!-- Banner -->
			<section class="banner full">
				<article>
					<img src="{% static 'images/cpp_campus_0.jpg' %}" alt="" />
					<div class="inner">
						<header>
							<p>We are a team of talented students at Cal Poly Pomona.</p>
							<!--
							<h2>Magna etiam</h2>
							-->
						</header>
					</div>
				</article>
				<article>
					<img src="{% static 'images/cpp_campus_1.jpg' %}" alt="" />
					<div class="inner">
						<header>
							<p>Here to create solutions in an ever-changing world.</p>
						</header>
					</div>
				</article>
				<article>
					<img src="{% static 'images/nature_0.jpg' %}" alt="" />
					<div class="inner">
						<header>
							<p>&ltSomething company-like&gt</p>
						</header>
					</div>
				</article>
			</section>

		<!-- One -->
			<!--
			<section id="one" class="wrapper style2">
				<div class="inner">
					<div class="grid-style">
						
						<div>
							<div class="box">
								<div class="image fit">
									<img src="{% static 'images/groceries_0.jpg' %}" alt="" />
								</div>
								<div class="content">
									<header class="align-center">
										<h2>Grocceries</h2>
									</header>
									<p>Order groceries any time, anywhere. Pick your items, check out, and we'll handle it from there.</p>
									<footer class="align-center">
										<a href="#" class="button alt">Learn More</a>
									</footer>
								</div>
							</div>
						</div>
						
						<div>
							<div class="box">
								<div class="image fit">
									<img src="{% static 'images/pic03.jpg' %}" alt="" />
								</div>
								<div class="content">
									<header class="align-center">
										<p>mattis elementum sapien pretium tellus</p>
										<h2>Vestibulum sit amet</h2>
									</header>
									<p> Cras aliquet urna ut sapien tincidunt, quis malesuada elit facilisis. Vestibulum sit amet tortor velit. Nam elementum nibh a libero pharetra elementum. Maecenas feugiat ex purus, quis volutpat lacus placerat malesuada.</p>
									<footer class="align-center">
										<a href="#" class="button alt">Learn More</a>
									</footer>
								</div>
							</div>
						</div>
						

					</div>
				</div>
			</section>
			-->

		<!-- Three -->
			<section id="three" class="wrapper style2">
				<div class="inner">
					<header class="align-center">
						<!-- <p class="special">Nam vel ante sit amet libero scelerisque facilisis eleifend vitae urna</p> -->
						<h2>Our Services</h2>
					</header>
					<div class="gallery">
						<div>
							<div class="image fit">
								<a href="#"><img src="{% static 'images/groceries_0.jpg' %}" alt="" /></a>
								<header class="align-center">
									<h2>Grocceries</h2>
								</header>
								<p>Order groceries any time, anywhere. Pick your items, check out, and we'll handle it from there.</p>
								<footer class="align-center">
									<a href="#" class="button alt">Learn More</a>
								</footer>
							</div>
						</div>
						<!--
						<div>
							<div class="image fit">
								<a href="#"><img src="{% static 'images/pic02.jpg' %}" alt="" /></a>
							</div>
						</div>
						<div>
							<div class="image fit">
								<a href="#"><img src="{% static 'images/pic03.jpg' %}" alt="" /></a>
							</div>
						</div>
						<div>
							<div class="image fit">
								<a href="#"><img src="{% static 'images/pic04.jpg' %}" alt="" /></a>
							</div>
						</div>
						-->
					</div>
				</div>
			</section>


		<!-- Footer -->
			<footer id="footer">
				<div class="container">
					<ul class="icons">
						<li><a href="https://github.com/lukedoukakis/software-engineering-project" class="icon fa-github-square" target="_blank" ><span class="label">Github</span></a></li>
					</ul>
				</div>
				<div class="copyright">
					&copy; CrazyButterflies 2021. All rights reserved.
				</div>
			</footer>

		<!-- Scripts -->
			<script src="{% static 'js/jquery.min.js' %}"></script>
			<script src="{% static 'js/jquery.scrollex.min.js' %}"></script>
			<script src="{% static 'js/skel.min.js' %}"></script>
			<script src="{% static 'js/util.js' %}"></script>
			<script src="{% static 'js/main.js' %}"></script>
	</body>
</html>