{% load static  %}
{% load admin_urls %}
{% load crispy_forms_tags %}
<!-- //TODO: fix all page redirections-->
<!-- //TODO: fix all static issues-->

<!--
author: W3layouts
author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html>
<head>
<title>Grocceries</title>
<!-- for-mobile-apps -->
<meta property="og:url"                content="http://grocceries.shop/" />
<meta property="og:type"               content="website" />
<meta property="og:title"              content="Online Groccery Service" />
<meta property="og:description"        content="browse, purchase, and recieve grocceries from the comfort of your couch" />

<meta property="og:image"              content="https://lh6.googleusercontent.com/8opB3QeoqNitet7vAAwLDg2lIsvY0-qnjTYPeRE91Nv3g4c2uSGls0yxHNmcvdRc39lBrjN1HHA-TlBeaC1nf0c=w1280" />
<meta property="og:image:type" content="image/png" />
<meta property="og:image:width" content="512" />
<meta property="og:image:height" content="512" />

<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Super Market Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
		function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- //for-mobile-apps -->
<link href="{% static 'css/bootstrap.css' %}" rel="stylesheet" type="text/css" media="all" />
<link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css" media="all" />
<link href="{% static 'css/grocceries.css' %}" rel="stylesheet" media="all" />

<!-- font-awesome icons -->
<link href="{% static 'css/font-awesome.css' %}" rel="stylesheet"> 
<!-- //font-awesome icons -->
<!-- js -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>


<!-- //js -->
<link href='//fonts.googleapis.com/css?family=Raleway:400,100,100italic,200,200italic,300,400italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic' rel='stylesheet' type='text/css'>
<link href='//fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css'>
<!-- start-smoth-scrolling -->
<script type="text/javascript" src="{% static 'js/move-top.js' %}"></script>
<script type="text/javascript" src="{% static 'js/easing.js' %}"></script>
<script type="text/javascript">
	jQuery(document).ready(function($) {
		$(".scroll").click(function(event){		
			event.preventDefault();
			$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
		});
	});
</script>
<!-- start-smoth-scrolling -->
</head>
	
<body>
	<section class="menu menu--circle">
        <input type="checkbox" id="menu__active"/>
        <label for="menu__active" class="menu__active">
          <div class="menu__toggle">
            <div class="icon">
              <div class="hamburger"></div>
            </div>
          </div>
          <input type="radio" name="arrow--up" id="degree--up-0"/>
          <input type="radio" name="arrow--up" id="degree--up-1" />
          <input type="radio" name="arrow--up" id="degree--up-2" />
          <div class="menu__listings">
			<ul class="circle">
			  <li>
				<div class="placeholder">
				  <div class="upside">
					<a href="{% url 'account' %}" class="button"><i class="fa fa-user"></i></a>
				  </div>
				</div>
			  </li>
			  <li>
				<div class="placeholder">
				  <div class="upside">
					<a href="{% url 'logout' %}" class="button"><i class="fa fa-sign-out"></i></a>
				  </div>
				</div>
			  </li>
			<li>
				<div class="placeholder">
				  <div class="upside">
					<a href="#">&nbsp</a>
				  </div>
				</div>
			  </li>
			  <li>
				<div class="placeholder">
				  <div class="upside">
					<a href="#" class="button"><i class="fa fa-commenting"></i></a>
				  </div>
				</div>
			  </li>
			  <li>
				<div class="placeholder">
				  <div class="upside">
					<a href="#" class="button"><i class="fa fa-trash"></i></a>
				  </div>
				</div>
			  </li>
			  <li>
				<div class="placeholder">
				  <div class="upside">
					<a href="#" class="button"><i class="fa fa-battery-4"></i></a>
				  </div>
				</div>
			  </li>
			  <li>
				<div class="placeholder">
				  <div class="upside">
					<a href="#" class="button"><i class="fa fa-calendar"></i></a>
				  </div>
				</div>
			  </li>
			  <li>
				<div class="placeholder">
				  <div class="upside">
					<a href="#" class="button"><i class="fa fa-cloud"></i></a>
				  </div>
				</div>
			  </li>
			  <li>
				<div class="placeholder">
				  <div class="upside">
					<a href="#" class="button"><i class="fa fa-wifi"></i></a>
				  </div>
				</div>
			  </li>
			  <li>
				<div class="placeholder">
				  <div class="upside">
					<a href="{% url 'storeLocator' %}" class="button"><i class="fa fa-map-marker"></i></a>
				  </div>
				</div>
			  </li>
			</ul>
		  </div>
		  <div class="menu__arrow menu__arrow--top">
			<ul>
			  <li>
				<label for="degree--up-0"><div class="arrow"></div></label>
				<label for="degree--up-1"><div class="arrow"></div></label>
				<label for="degree--up-2"><div class="arrow"></div></label>
			  </li>
			</ul>
		  </div>
        </label>
      </section>
<!-- header -->
	<div class="agileits_header">
		<div class="title-container">
			<h1><a class = "orange" href="{% url 'home' %}">Grocceries</a></h1>

		</div>
	</div>
<!-- //header -->
<!-- content -->
{% block content %}

{% endblock %}
<!-- //content-->
<!-- //footer -->
<div class="footer">
		<div class="container">
			<div class="w3_footer_grids">
				<div class="col-md-3 w3_footer_grid">
					<h3>Contact</h3>
					
					<ul class="address">
						<li><i class="glyphicon glyphicon-map-marker" aria-hidden="true"></i>1234k Avenue, 4th block, <span>New York City.</span></li>
						<li><i class="glyphicon glyphicon-envelope" aria-hidden="true"></i><a href="mailto:crazybutterflies@gmail.com">crazybutterflies@gmail.com</a></li>
						<li><i class="glyphicon glyphicon-earphone" aria-hidden="true"></i>(714)-387-567</li>
					</ul>
				</div>
				<div class="col-md-3 w3_footer_grid">
					<h3>Information</h3>
					<ul class="info"> 
						<li><i class="fa fa-arrow-right" aria-hidden="true"></i><a href="about.html">About Us</a></li>
						<li><i class="fa fa-arrow-right" aria-hidden="true"></i><a href="contact.html">Contact Us</a></li>
						<li><i class="fa fa-arrow-right" aria-hidden="true"></i><a href="faq.html">FAQ's</a></li>
					</ul>
				</div>
				
				<div class="clearfix"> </div>
			</div>
		</div>
		
		<div class="footer-copy">
			
			<div class="container">
				<p>© 2021 Grocceries. All rights reserved</p>
			</div>
		</div>
		
	</div>	
	<div class="footer-botm">
			<div class="container">
				<div class="w3layouts-foot">
					<ul>
						<li><a href="#" class="w3_agile_facebook"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
						<li><a href="#" class="agile_twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
						<li><a href="#" class="w3_agile_dribble"><i class="fa fa-dribbble" aria-hidden="true"></i></a></li>
						<li><a href="#" class="w3_agile_vimeo"><i class="fa fa-vimeo" aria-hidden="true"></i></a></li>
					</ul>
				</div>
				<div class="payment-w3ls">	
					<img src="{% static 'images/card.png' %}" alt=" " class="img-responsive">
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
<!-- //footer -->	
<!-- Bootstrap Core JavaScript -->
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<!-- top-header and slider -->
<!-- here stars scrolling icon -->
	<script type="text/javascript">
		$(document).ready(function() {
			/*
				var defaults = {
				containerID: 'toTop', // fading element id
				containerHoverID: 'toTopHover', // fading element hover id
				scrollSpeed: 1200,
				easingType: 'linear' 
				};
			*/
								
			$().UItoTop({ easingType: 'easeOutQuart' });
								
			});
	</script>
<!-- //here ends scrolling icon -->
<script src="{% static 'js/minicart.min.js' %}"></script>
<script>
	// Mini Cart
	paypal.minicart.render({
		action: '#'
	});

	if (~window.location.search.indexOf('reset=true')) {
		paypal.minicart.reset();
	}
</script>
<!-- main slider-banner -->
<script src="{% static 'js/skdslider.min.js' %}"></script>
<link href="{% static 'css/skdslider.css' %}" rel="stylesheet">
<script type="text/javascript">
		jQuery(document).ready(function(){
			jQuery('#demo1').skdslider({'delay':5000, 'animationSpeed': 2000,'showNextPrev':true,'showPlayButton':true,'autoSlide':true,'animationType':'fading'});
						
			jQuery('#responsive').change(function(){
			  $('#responsive_wrapper').width(jQuery(this).val());
			});
			
		});
</script>	
<!-- //main slider-banner --> 

</body>
</html>