{% load static %}
{% load admin_urls %}
<!DOCTYPE HTML>
<!--
	Hielo by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>

	<!-- Button -->
	<li class="list-group-item list-group-item-light">
		<h4 class="stat-title">simple console log:</h4>
		<form action="/simple_function">
			<button id="stat-btn" class="btn">print a sentence to console</button>
		</form>
	</li>
	<li class="list-group-item list-group-item-light">
		<h4 class="stat-title">get all vendors:</h4>
		<form action="/get_vendors">
			<button id="stat-btn" class="btn">get_vendors</button>
		</form>
	</li>
	<li class="list-group-item list-group-item-light">
		<h4 class="stat-title">get items from specified store:</h4>
		<form action="/get_items">
			<button id="stat-btn" class="btn">get_items</button>
		</form>
	</li>
	<li class="list-group-item list-group-item-light">
		<h4 class="stat-title">return query set of all items:</h4>
		<form action="/get_items_global">
			<button id="stat-btn" class="btn">get_items_global</button>
		</form>
	</li>
</html>