{%extends "../base.html"%}
{% load static %}
{% block current_page %}Delivery{%endblock%}
{%load tags%}
{%block content%}

<style>
    #map {
      height: 100%;
    }
    
    html,
    body {
      height: 100%;
      margin: 0;
      padding: 0;
    }

    /* Styling for Autocomplete search bar */
    #pac-card {
      background-color: #fff;
      border-radius: 2px 0 0 2px;
      box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
      box-sizing: border-box;
      font-family: Roboto;
      margin: 10px 10px 0 0;
      -moz-box-sizing: border-box;
      outline: none;
    }
    
    #pac-container {
      padding-top: 12px;
      padding-bottom: 12px;
      margin-right: 12px;
    }
    
    #pac-input {
      background-color: #fff;
      font-family: Roboto;
      font-size: 15px;
      font-weight: 300;
      margin-left: 12px;
      padding: 0 11px 0 13px;
      text-overflow: ellipsis;
      width: 400px;
    }
    
    #pac-input:focus {
      border-color: #4d90fe;
    }
    
    #title {
      color: #fff;
      background-color: #acbcc9;
      font-size: 18px;
      font-weight: 400;
      padding: 6px 12px;
    }
    
    .hidden {
      display: none;
    }

    /* Styling for an info pane that slides out from the left. 
     * Hidden by default. */
    #panel {
      height: 100%;
      width: null;
      background-color: white;
      position: fixed;
      z-index: 1;
      overflow-x: hidden;
      transition: all .2s ease-out;
    }
    
    .open {
      width: 250px;
    }
  </style>

<div class="login" id="pageContent">
        <h2 id="NAME">Thank you for ordering with us.</h2>
        <p tag = "deliveryTime" style="font-size:28px;color:black" id="DESCRIPTION">Delivery Time:<p></p>
        <p tag = "deliveryTime" style="font-size:28px;color:black" id="deliveryTime">Calculating Delivery Time<p>	
</div>

<div id="map">
	<!-- key: AIzaSyDbk5hppk7xa364BV9kbZxlsH36Pv3G01M -->

    <script src="{% static 'map/js/delivery.js' %}"></script>
    <script>
        var accountLoc = {{ accountLocation }};
        var storeLats = {{ storeLats }};
        var storeLons = {{ storeLons }};
        var driverLoc = {{ driverLocation }};
    </script>
    <script
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDbk5hppk7xa364BV9kbZxlsH36Pv3G01M&callback=initMap&libraries=places&v=weekly"
        async
    ></script>
</div>

{%endblock%}