

{%extends "../base.html"%}
{% load static %}
{% load admin_urls %}
{% load crispy_forms_tags %}

{% block current_page %}{{vendorName}}{%endblock%}

{%block content%}

<!-- redirects to login if no one is logged in -->
{% if request.user.is_authenticated %}
{% else %}
    <meta http-equiv="refresh" content="0; URL={% url 'login' %}" />
{% endif %}

<div class="sticky-wrapper" id="searchWrapper">
	<div class="search-bar">
		<input type="text" name="" placeholder="Search for items..." id="searchInput">
		<a class="search-btn" id="searchButton" href="#">
			<i class="fas fa-search"></i>
		</a>
		<div id="autoComplete" style=
			"
			padding-top: 20px;
			max-height: 480px;
			overflow-y: auto;
			font-size: small;
			background-color: black;
			color:orange;
			text-align: center;
		  	width: 100%;
			list-style-type: none;
			z-index: 999;
			cursor: pointer;
			">
		</div>
	</div>
</div>

<script>
	function addtocart(itemid, quantityid){
		console.log("running");
		$.ajax({
			url : "/add-to-cart/", // the endpoint
			type : "GET", // http method
			data : { item_id : itemid, 
					 quantity : document.getElementById("quantity" + quantityid).innerText }, // data sent with the get request

			// handle a successful response
			success : function(json) {
				console.log("success"); // another sanity check
				document.getElementById("quantity" + quantityid).innerText = 0
			},

			// handle a non-successful response
			error : function(xhr,errmsg,err) {
				console.log(xhr.status + ": " + xhr.responseText); // provide a bit more info about the error to the console
			}
		});
	};
</script>

<!-- Store Page -->
<div class="login" id="pageContent">
	<div style="margin-top: 0px; padding-bottom:28px;" class="container">
		<h2 id="NAME">{{vendorName}}</h2>
		<p style="font-size:28px;color:black" id="DESCRIPTION">{{vendorDescription}}<p>	
		<p style="font-size:14px" id="ADDRESS">{{vendorAddress}}<p>
		<p style="font-size:14px" id="PHONE">{{vendorPhone}}<p>
	</div>
	<div class="container">
		<h2 id="selectionText" style="font-size:24px;">Selection</h2>
		<div class="items-container" id="itemsContainer">
			{% for item in itemsToDisplay %}
			<div class='item-display'>
				<img class="item-image" src="{{item.imgURL}}">
				<div class="item-text" id="{{item.id}}"> {{ item.name | title }} | ${{item.price}} </div>
				<div class="item-quantity" id="quantity{{forloop.counter0}}">0</div>
				<button class="fa fa-plus item-plus" id="item-plus" 
				onclick="onChangeQuantityClick(1, 'quantity{{forloop.counter0}}')"></button>
				<button class="fa fa-minus item-minus" id="item-minus" 
				onclick="onChangeQuantityClick(-1, 'quantity{{forloop.counter0}}')"></button>
				<button class="item-addtocart" id="item-addtocart{{forloop.counter0}}" onclick="addtocart('{{item.id}}', '{{forloop.counter0}}')">Add to Cart</button>

			</div>
			{%endfor%}
		</div>
	</div>
</div>

<!-- need to run this after otherwise page is not loaded yet and cannot search by div -->
<script src = "{% static 'store/js/store.js' %}"></script>
<script>
	window.onload = function() {


		// breadcrumbs
		var ol = document.getElementById("navigationList");
		var li = document.createElement("li");
		var a = document.createElement("a");
		var sp = document.createElement("span");
		sp.className = "active";
		sp.setAttribute("aria-hidden", "true");
		sp.innerHTML = "Store Locator";
		a.appendChild(sp);
		a.href = "{% url 'storeLocator' %}";
		li.appendChild(a);
		ol.appendChild(li);
		var active = document.getElementById("activeStore");
		ol.removeChild(active);
		ol.appendChild(active);



		// search button functionality

		var suggestions = getAllItems();

		var searchWrapper = document.getElementById("searchWrapper");
		var searchInput = document.getElementById("searchInput");
        var searchButton = document.getElementById("searchButton");
        var autoComplete = document.getElementById("autoComplete");
		var pageContent = document.getElementById("pageContent");

		searchWrapper.classList.add("active");
		searchButton.onclick = function() {
			var term;
			term = searchInput.value.trim();
			if(term == ""){ term = "all"; }
			searchButton.href = "/storepage/" + "{{ vendorID }}" + "/" + term;
        }
		if("{{ numOfItemsDisplay }}" == "0"){
			var msg = document.createElement('h');
			msg.style.fontSize = "xxx-large";
			msg.style.alignContent = "center";
			msg.innerHTML = "Sorry, no products were found from this search!";
			document.getElementById("itemsContainer").appendChild(msg);
			document.getElementById("selectionText").innerHTML = "";
			var sch = document.createElement('div');
			sch.className = "sticky-search-bar";
			document.getElementById("itemsContainer").appendChild(sch);
		}
		
		// suggestions functionality
		searchInput.onkeyup = (e)=>{
			if (e.keyCode === 13) {
				searchButton.click();
			}
			else{
				let userData = searchInput.value;
    			let emptyArray = [];
    			if(userData){
        			emptyArray = suggestions.filter((data)=>{
            			//filtering array value and user characters to lowercase and return only those words which are start with user enetered chars
            			return data.toLocaleLowerCase().includes(userData.toLocaleLowerCase()); 
        			});
        			emptyArray = emptyArray.map((data)=>{
            			// passing return data inside li tag
            			return data = '<li>'+ data +'</li>';
        			});
        			//searchWrapper.classList.add("active");
        			showSuggestions(emptyArray);
        			let allList = autoComplete.querySelectorAll("li");
        			for (let i = 0; i < allList.length; i++) {
            			allList[i].setAttribute("onclick", "select(this)");
        			}
    			}
				else{
					showSuggestions([]);
        			//searchWrapper.classList.remove("active");
    			}
			}

			var observer = new IntersectionObserver(entries => {
				console.log(entries[0].intersectionRatio);
  				if(entries[0].intersectionRatio >= 1) {
					var m = (0 - autoComplete.clientHeight).toString() + "px";
					pageContent.style.marginTop = m;
  				}
			});
			observer.observe(searchWrapper);
		}
	};


	


	function select(element){
    	let selectData = element.textContent;
    	searchInput.value = selectData;
		searchButton.href = "/storepage/" + "{{ vendorID }}" + "/" + "element.textContent";
    	searchWrapper.classList.remove("active");
		searchButton.click();
	}

	function showSuggestions(list){
    	let listData;
    	if(!list.length){
        	userValue = searchInput.value;
        	//listData = '<li>'+ userValue +'</li>';
			listData = "";
    	}else{
        	listData = list.join('');
    	}
    	autoComplete.innerHTML = listData;
	}

	function getAllItems(){
		suggestions = [];
		{% for suggestion in items %}
		suggestions.push("{{suggestion.name}}");
		{% endfor %}
    	return suggestions;
    
}

</script>



<!-- //Store Page -->
{%endblock%}