
{%extends "../base.html"%}
{% load static %}
{% load admin_urls %}
{% load crispy_forms_tags %}

{% block current_page %}XXXXXXXXX{%endblock%}

{%block content%}


<!-- Store Page -->
<div class="login">
	<div style="padding-bottom:28px" class="container">
		<h2 id="NAME"></h2>
		<p style="font-size:28px;color:black" id="DESCRIPTION"><p>	
		<p style="font-size:14px" id="ADDRESS"><p>
		<p style="font-size:14px" id="PHONE"><p>
		<p style="font-size:14px" id="TEST"><p>
	</div>
	<div class="container">
		<h2 style="font-size:24px;">Selection</h2>
		<div class = "items-container" id=itemsContainer>
			
		</div>
	</div>
</div>

<!-- need to run this after otherwise page is not loaded yet and cannot search by div -->
<script src = "{% static 'store/js/store.js' %}"></script>
<script>
	createStorePage( "{{ vendorItems }}" , "{{ vendorID }}");

	window.onload = function() {
		var vendorID = "{{ vendorID }}";
		var vendorName = "{{ vendorName }}";
		var vendorItemNames = "{{ vendorItems }}";
		var vendorItemIDs = "{{ vendorItemIDs }}";
		var vendorAddress = "{{ vendorAddress }}";
		var vendorCategory = "{{ vendorCategory }}";
		var vendorHours = "{{ vendorHours }}";
		var vendorPhone = "{{ vendorPhone }}";
		var vendorDescription = "{{ vendorDescription }}";

		//set the breadcrumbs
		document.getElementById("activeStore").innerText = vendorName;

		// vendor info
		document.getElementById("NAME").innerHTML = vendorName;
		document.getElementById("DESCRIPTION").innerHTML = vendorDescription;
		document.getElementById("ADDRESS").innerHTML = vendorAddress;
		document.getElementById("PHONE").innerHTML = vendorPhone;
	};

</script>



<!-- //Store Page -->
{%endblock%}
