

{%extends "../base.html"%}
{% load static %}
{% load admin_urls %}
{% load crispy_forms_tags %}

{% block current_page %}XXXXXXXXX{%endblock%}

{%block content%}

<div class="sticky-wrapper" id="searchWrapper">
	<div class="search-bar">
		<input class="search-txt" type="text" name="" placeholder="Search for items..." id="searchInput">
		<a class="search-btn" id="searchButton" href="#">
			<i class="fas fa-search"></i>
			<!-- <div class="autocom-box" id="autoComplete"> -->
		</a>
		<div id="autoComplete" style=
			"
			padding-top: 20px;
			max-height: 280px;
			overflow-y: auto;
			font-size: small;
			background-color: black;
			color:orange;
			text-align: center;
		  	width: 100%;
			list-style-type: none;
			z-index: 999;
			cursor: pointer;
			">
			
			</div>
	</div>
</div>



<!-- Store Page -->
<div class="login">
	<div style="padding-bottom:28px" class="container">
		<h2 id="NAME"></h2>
		<p style="font-size:28px;color:black" id="DESCRIPTION"><p>	
		<p style="font-size:14px" id="ADDRESS"><p>
		<p style="font-size:14px" id="PHONE"><p>
		<p style="font-size:14px" id="TEST"><p>
	</div>
	<div class="container">
		<h2 id="selectionText" style="font-size:24px;">Selection</h2>
		<div class = "items-container" id="itemsContainer">

		</div>
	</div>
</div>

<!-- need to run this after otherwise page is not loaded yet and cannot search by div -->
<script src = "{% static 'store/js/store.js' %}"></script>
<script>
	createStorePage( "{{ vendorItems_display }}", "{{ vendorID }}");

	window.onload = function() {
		var vendorID = "{{ vendorID }}";
		var vendorName = "{{ vendorName }}";
		var vendorItemNames_all = "{{ vendorItems_all }}";
		var vendorItemNames_display = "{{ vendorItems_display }}";
		var vendorAddress = "{{ vendorAddress }}";
		var vendorCategory = "{{ vendorCategory }}";
		var vendorHours = "{{ vendorHours }}";
		var vendorPhone = "{{ vendorPhone }}";
		var vendorDescription = "{{ vendorDescription }}";
		var itemsListed = "{{ itemsListed }}";
		var suggestions = getAllItems();

		//set the breadcrumbs
		document.getElementById("activeStore").innerText = vendorName;

		// vendor info
		document.getElementById("NAME").innerHTML = vendorName;
		document.getElementById("DESCRIPTION").innerHTML = vendorDescription;
		document.getElementById("ADDRESS").innerHTML = vendorAddress;
		document.getElementById("PHONE").innerHTML = vendorPhone;

		// search button functionality
		var searchWrapper = document.getElementById("searchWrapper");
		var searchInput = document.getElementById("searchInput");
        var searchButton = document.getElementById("searchButton");
        var autoComplete = document.getElementById("autoComplete");
		var ul = document.getElementById("list");
		searchButton.onclick = function() {
			var term;
			term = searchInput.value.trim();
			if(term == ""){ term = "all"; }
			searchButton.href = "/storepage/" + "{{ vendorID }}" + "/" + term;
        }
		if(itemsListed == "0"){
			var msg = document.createElement('h');
			msg.style.fontSize = "xxx-large";
			msg.style.alignContent = "center";
			msg.innerHTML = "Sorry, no products were found from this search!";
			document.getElementById("itemsContainer").appendChild(msg);
			document.getElementById("selectionText").innerHTML = "";
			var sch = document.createElement('div');
			sch.className = "sticky-search-bar";
			document.getElementById("itemsContainer").appendChild(sch);
		}
		
		// suggestions functionality
		searchInput.onkeyup = (e)=>{
			if (e.keyCode === 13) {
				searchButton.click();
			}
			else{
				let userData = e.target.value;
    			let emptyArray = [];
    			if(userData){
        			emptyArray = suggestions.filter((data)=>{
            			//filtering array value and user characters to lowercase and return only those words which are start with user enetered chars
            			return data.toLocaleLowerCase().startsWith(userData.toLocaleLowerCase()); 
        			});
        			emptyArray = emptyArray.map((data)=>{
            			// passing return data inside li tag
            			return data = '<li>'+ data +'</li>';
        			});
        			searchWrapper.classList.add("active");
        			showSuggestions(emptyArray);
        			let allList = autoComplete.querySelectorAll("li");
        			for (let i = 0; i < allList.length; i++) {
            			allList[i].setAttribute("onclick", "select(this)");
        			}
    			}
				else{
        			searchWrapper.classList.remove("active");
    			}
			}

    		
		}
	};

	function select(element){
    	let selectData = element.textContent;
    	searchInput.value = selectData;
		console.log("LOGG");
		searchButton.href = "/storepage/" + "{{ vendorID }}" + "/" + "element.textContent";
    	searchWrapper.classList.remove("active");
		searchButton.click();
	}

	function showSuggestions(list){
		//window.alert(list);

    	let listData;
    	if(!list.length){
        	userValue = searchInput.value;
        	listData = '<li>'+ userValue +'</li>';
    	}else{
        	listData = list.join('');
    	}
    	autoComplete.innerHTML = listData;
		//window.alert(autoComplete.innerHTML);
	
	}

	function getAllItems(){
		splitItems = "{{ vendorItems_all }}".split("|");
		suggestions = [];
    	for(i = 0; i < splitItems.length - 1; i++)
    	{
        	suggestions.push(splitItems[i].split("{")[0]);
		}
    	return suggestions;
    
}

</script>



<!-- //Store Page -->
{%endblock%}