{%extends "../base.html"%}
{% load static %}
{%load tags%}
{% block current_page %}Shopping Cart{%endblock%}
{%block content%}

<!-- redirects to login if no one is logged in -->
{% if request.user.is_authenticated %}
{% else %}
    <meta http-equiv="refresh" content="0; URL={% url 'login' %}" />
{% endif %}

<!DOCTYPE html>
<html lang="en">

<link href="{% static 'css/payment.css' %}" rel="stylesheet" type="text/css" media="all" />

<head>
    <!-- Add meta tags for mobile and IE -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title> PayPal Smart Payment Buttons Integration | Client Demo </title>
</head>

 <!-- Hidden div for storing summary info -->
<div id="hidden" style="display: none"></div>

<!-- Heading -->
<div style="background-color: orange; text-align: center; padding-top: 35px;">
    <h2 style = "font-size: 36px; font-weight: 400;">My Shopping Cart</h2>
</div>

<!-- Store Listing -->
<div class="sticky-wrapper" style="background-color: orange; text-align: center;">
    {% for j,l in r %}
        <!-- This is not an error it says it is but it is not  -->
        <div style="display:inline-flex; flex-wrap: wrap;">
            <h1 style="padding: 10px">
                <a onclick="show('store-{{l}}{{j}}')" class="btn btn-outline" style="border-radius: 0; border-color: black; border-width: 2px; border-style: solid; color: black; width: 250px; background-color: white; font-weight: 300; text-decoration: none; font-size: 24px;" onmouseover="this.style.backgroundColor='rgb(181, 220, 255)';" onmouseout="this.style.backgroundColor='white';">{{l}}</a>
            </h1>
        </div>
    {% endfor %}
</div>

<div style="flex-wrap:nowrap; display: flex; flex-direction: row;">
    <div id="leftSide" style="max-height: 100px; width: 50%; position: relative; overflow-y: scroll;">
        <!-- Items display -->
        <div id="goNow" style="flex-wrap: wrap; justify-content: center; display: flex; flex-direction: row; margin-top: 10%;">
        </div>
    
        <!-- we want the first to be visible -->
        {% for j,l in o%}
        <div id="store-{{l}}{{j}}" style="display: none;">
            {% for i in itemsOrganizedByStore|lookup:j %}
                {% if i.quantity > 0 %}
                    <div class='item-display' style="border-style: solid; border-width: 1px; margin: 10px;">
                        <img class="item-image" src="{{i.item.imgURL}}">
                        <div class="item-text" id="{{i.item.id}}"> {{ i.item.name | title }} </div>
                        <div class="item-quantity" id="quantity{{forloop.counter0}}">{{ i.quantity }}</div>
                        <button class="fa fa-plus item-plus" id="item-plus"
                            onclick="onChangeQuantityClick(1, 'quantity{{forloop.counter0}}', '{{i.item.id}}', '{{i.item.name}}')"></button>
                        <button class="fa fa-minus item-minus" id="item-minus"
                            onclick="onChangeQuantityClick(-1, 'quantity{{forloop.counter0}}', '{{i.item.id}}', '{{i.item.name}}')"></button>   
                    </div>
                {% endif %}
            {%endfor%}
        </div>
        {%endfor%}
    
    
    </div>
    
    <!-- Cart summary -->
    <div id="rightSide" style="width: 50%; position: relative;">
        <div style="background-color: white; border-style: none; margin: 10%;">
            <form id="MyForm" method="POST" style="display: none;">
                {% csrf_token %}
                {{form}}
                <input type="submit" value="Say hello" ;>
            </form>
            <div>
                <p style="font-size: 42px; text-align: center; color: black">
                    Order Total
                </p>
                <br>
                <div id="summaryContent">
                    <!-- content is loaded from js -->
                </div>
                <br>
            </div>
            
            <div id="paypal-button-container" style="width: 10%;"></div>
        </div>
    </div>
</div>






    <!-- Include the PayPal JavaScript SDK -->
    <script src="https://www.paypal.com/sdk/js?client-id=sb&currency=USD&disable-funding=credit,card"></script>

    <script>
        1
        2
        3

        window.onload = function () {

            // initialize values for summary
            var ids = '{{ids|safe}}'.split(", ");
            var prices = '{{prices|safe}}'.split(", ");
            var names = '{{names|safe}}'.split(", ");
            var quantities = '{{quantities|safe}}'.split(", ");
            var hidden = document.getElementById("hidden");
            var p;
            for(i = 0; i < names.length; i++){
                p = document.createElement("p");
                p.id = ids[i].replace('[', '').replace(']', '').replace(/"/g,'');
                p.style.display = "none";
                p.innerHTML = quantities[i].replace('[', '').replace(']', '');
                hidden.appendChild(p);
            }
            var tpElem = document.createElement("p");
            tpElem.id = "total_price";
            p.style.display = "none";
            var totalPrice = '{{totalPrice}}';
            tpElem.innerHTML = totalPrice;
            hidden.appendChild(tpElem);
            refreshSummary("null", 0);

            document.getElementById('goNow').innerHTML = document.getElementById("store-{{listOfStoresUsed.0}}0").innerHTML;
        
        };
        function show(param_div_id) {

            //console.log("param_div_id: " + param_div_id);
            var div = document.getElementById(param_div_id);
            //console.log(div.children.length);
            for(i = 0; i < div.children.length; i++){
                var txt = div.children[i].children[1];
                //console.log("txt: " + txt.innerHTML);
                var qty = div.children[i].children[2];
                //console.log("qty: " + qty.innerHTML);
                qty.innerHTML = document.getElementById(txt.id).innerHTML;
            }
            document.getElementById('goNow').innerHTML = document.getElementById(param_div_id).innerHTML;
        }

        function onChangeQuantityClick(change, quantityItemId, itemid, itemname)
        {
            var quantityItem = document.getElementById(quantityItemId);
            var curQuantity = parseInt(quantityItem.innerText);
            var newQuantity = curQuantity + change >= 0 ? curQuantity + change : curQuantity;
            quantityItem.innerText = newQuantity;

            if(curQuantity != newQuantity){
                modifyCart(itemid, change);
            }

        }

        // refreshes order summary widget with adjusted cart contents
        function refreshSummary(itemid, qty_change){

            var sc = document.getElementById("summaryContent");
            sc.innerHTML = "";

            var ids = '{{ids|safe}}'.split(", ");
            var prices = '{{prices|safe}}'.split(", ");
            var names = '{{names|safe}}'.split(", ");
            var quantities = '{{quantities|safe}}'.split(", ");

            var priceChange = 0;

            //console.log("ITEMID: " + itemid);
            for(i=0; i < ids.length; i++){

                var id = ids[i].replace('[', '').replace(']', '').replace(/"/g,'');
                var price = prices[i].replace('[', '').replace(']', '')
                var name = names[i].replace('[', '').replace(']', '').replace(/"/g,'');
                var quantity = parseInt(document.getElementById(id).innerHTML);
                //console.log("_____" + id);
                if(id == itemid){
                    //console.log("id match");
                    quantity += qty_change;
                    document.getElementById(id).innerHTML = quantity.toString();
                    priceChange = parseFloat(price) * qty_change;
                    //console.log(priceChange);
                }
                
                // fill summary with updated content
                if(quantity > 0){
                    var n = document.createElement("p");
                    n.innerHTML = name + " (Count: " + quantity + ")";
                    n.style.fontSize = "14px";
                    var p = document.createElement("p");
                    p.innerHTML = "$" + (Math.round(price * quantity * 100) / 100);
                    p.style.fontSize = "14px";
                    p.style.margin = "5px";
                    p.style.borderBottom = "1px solid black";
                    sc.appendChild(n);
                    sc.appendChild(p);
                }
            
            }

            var tpElem = document.getElementById("total_price")
            //console.log("total_price: " + tpElem.innerHTML);
            var total = parseFloat(tpElem.innerHTML) + priceChange;
            tpElem.innerHTML = total.toString();
            var tp = document.createElement("p");
            tp.innerHTML = "Total: $" + (Math.round(total * 100) / 100);
            tp.style.fontSize = "25px";
            tp.style.borderTop = "1px solid black";
            sc.appendChild(tp);

            var h = document.getElementById("rightSide").clientHeight;
            console.log(h);
            document.getElementById("leftSide").style.maxHeight = h.toString() + "px";
            console.log(document.getElementById("leftSide").style.maxHeight);

        }

        // sends an ajax request that modifies the content of the user's cart in the database
        function modifyCart(itemid, qty){

            var loading = document.getElementById("loading");
            loading.style.display = "block";

            //run_ajax();

            $.when(run_ajax()).done(function(a1){
                //console.log("\"when\" executing")
                loading.style.display = "none";
                refreshSummary(itemid, qty);
                // a1: list of length 3 containing the response text,
            });

            function run_ajax(){
                //console.log("RUNNING AJAX");
                return $.ajax(
                {
			    url : "/add-to-cart/",
			    type : "GET",
			    data : { 
                    item_id : itemid, quantity : qty, cart : "true"
                },
	    	});
            }

	
	    }
        function clearcart(){

            $.when(run_ajax()).done(function(a1){
                // a1: list of length 3 containing the response text,
            });

            function run_ajax(){
                $.ajax({
                    url : "/clear-cart/", // the endpoint
                    type : "GET", // http method
                    data : {}, // data sent with the get request

                    // handle a successful response
                    success : function(json) {
                        
                        console.log("success"); // another sanity check
                    },

                    // handle a non-successful response
                    error : function(xhr,errmsg,err) {
                        console.log(xhr.status + ": " + xhr.responseText); // provide a bit more info about the error to the console
                    }
                });
                    var element = document.getElementById("summaryContent");
                    element.parentNode.removeChild(element);
                    element = document.getElementById("leftSide");
                    element.parentNode.removeChild(element);
                }
        };




    </script>



    <script>
        // Render the PayPal button into #paypal-button-container
        paypal.Buttons({
            style: {
                color: 'gold',
                shape: 'pill',


            },
            // Set up the transaction
            createOrder: function (data, actions) 
            {

                var ids = '{{ids|safe}}'.split(", ");
                var prices = '{{prices|safe}}'.split(", ");
                var names = '{{names|safe}}'.split(", ");

                var total = 0;
                for(i=0; i < ids.length; i++){
                    var id = ids[i].replace('[', '').replace(']', '').replace(/"/g,'');
                    var price = prices[i].replace('[', '').replace(']', '')
                    var name = names[i].replace('[', '').replace(']', '').replace(/"/g,'');
                    var quantity = parseFloat(document.getElementById(id).innerHTML);
                    total += quantity * parseFloat(price);
                }
                total = (Math.round(total * 100) / 100);
                console.log("Total charged: " + total);

                return actions.order.create({
                    purchase_units: [{
                        amount: {
                            //value: '{{totalPrice}}' // put total value here to charge
                            value: total
                        }
                    }]
                });
            },

            // Finalize the transaction
            onApprove: function (data, actions) {//if apporved do this
                return actions.order.capture().then(function (details) {
                    // Show a success message to the buyer

                    addressArray = [details.purchase_units[0].shipping.address.address_line_1, details.purchase_units[0].shipping.address.address_line_2,
                    details.purchase_units[0].shipping.address.admin_area_2, details.purchase_units[0].shipping.address.admin_area_1, details.purchase_units[0].shipping.address.postal_code]




                    var shippingAddress = addressArray[0] + addressArray[1] + ", " + addressArray[2] + ", " + addressArray[3] + " " + addressArray[4]
                    shippingAddress = shippingAddress.replace("undefined", " ")


                    document.getElementById("address").value = shippingAddress;
                    document.getElementById("MyForm").submit();
                    //window.location.href ="{% url 'home' %}"
                });
            }


        }).render('#paypal-button-container');
    </script>

    <button onclick="clearcart()">clear cart</button>

    </div>


    </div>

</body>

<div id="loading" style="display: none;">
    <img id="loading-image" src="{% static 'images/loadingCircle.gif' %}" alt="Loading..." style = "max-width: 100px; max-height: 100px;" />
</div>

</html>
    
{%endblock%}

