{%extends "../base.html"%}
{% load static %}
{%load tags%}
{%block content%}

<!DOCTYPE html>
<html lang="en">

<link href="{% static 'css/payment.css' %}" rel="stylesheet" type="text/css" media="all" />

<head>
    <!-- Add meta tags for mobile and IE -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title> PayPal Smart Payment Buttons Integration | Client Demo </title>
</head>




<div class="sticky-wrapper" style="background-color: rgba(243, 216, 177, 255); border-bottom-style: solid; border-bottom-color: black; border-bottom-width: 1px;">

    <div style="text-align: center; padding: 25px">
        <h2 style = "font-size: 32px;">My Shopping Cart</h2>
    </div>

    <div class style="cursor: pointer; margin: 0em; text-align: center; width: 70%;">
        {% for j,l in r %}
            <!-- This is not an error it says it is but it is not  -->
            <div style="float:left">
                <h1 style = "padding: 10px"><a onclick="show('store-{{l}}{{j}}')" class="btn btn-outline" style="border-radius: 0; border-color: black; border-width: 2px; border-style: solid; color: black; width: 250px; background-color: white; font-weight: 300; text-decoration: none; font-size: 24px;">{{l}}</a></h1>
            </div>
        {% endfor %}
    </div>
</div>

<div class="sticky-wrapper" style="background-color: rgba(0, 0, 0, 0); margin-top: 50px;">
    <div class="sticky-wrapper" style="background-color: white; float: right; min-width: 400px; margin-top: 0em; margin-right: 0em; border-style: solid;">
        <form id="MyForm" method="POST" style="display: none;">
            {% csrf_token %}
            {{form}}
            <input type="submit" value="Say hello" ;>
        </form>

        <p style="font-size: 24px; text-align: center; color: black">
            Order Total
        </p>

        <br>
        {% for i,j,k in pricesAndNamesQuantity %}
        {{j}} (Count: {{k}})
        <br>
        <p style="border-bottom:1px solid rgb(0, 0, 0);"> ${{ i|multiply:k }}</p>
        {% endfor %}

        <p style="border-top:1px solid rgb(0, 0, 0);font-size: 25px;">${{totalPrice}}</p>
        <br>
        <div id="paypal-button-container" style="width: 10%;"></div>
    </div>
</div>

<div>
    <!-- Items display -->
    <div id="goNow" class="items-container" style ="margin-left: 200px; margin-right: 200px; margin-bottom: 200px;">
    </div>


    <!-- we want the first to be visible -->
    {% for j,l in o%}
    <div id="store-{{l}}{{j}}" class="items-container" style="display: none;">
        {% for i in itemsOrganizedByStore|lookup:j %}
        <div class='item-display'>
            <img class="item-image" src="{{i.item.imgURL}}">
            <div class="item-text" id="{{i.item.id}}"> {{ i.item.name | title }} </div>
            <div class="item-quantity" id="quantity{{forloop.counter0}}">{{ i.quantity }}</div>
            <!-- <button class="fa fa-plus item-plus" id="item-plus"
                onclick="onChangeQuantityClick(1, 'quantity{{forloop.counter0}}')"></button>
            <button class="fa fa-minus item-minus" id="item-minus"
                onclick="onChangeQuantityClick(-1, 'quantity{{forloop.counter0}}')"></button>
            <button class="item-addtocart" id="item-addtocart{{forloop.counter0}}"
                onclick="addtocart('{{item.id}}', '{{forloop.counter0}}')">Add to Cart</button> -->

        </div>
        {%endfor%}
    </div>
    {%endfor%}


</div>


        

    




    
    

    

    <!-- <div class = "container">
    {% for i in "123"  %} 
    <a class = "storeNames" style=" cursor: pointer;">Store{{i}} |</a>
        {% endfor %}
    <table class="table" style="width: 70%;">
        <tbody>
             #reference number of objects here to make list of items  -->
    <!-- {% for i in "123"  %} 
            <tr>
                <th scope="col"><img src="{% static 'images/1.png'%}"> <br><p>Tata Chips Q:1</p></th><br>
                
            </tr>
            {% endfor %}
          
        </tbody>
        
      </table>
       -->

    <!-- Set up a container element for the button -->

    <!-- Include the PayPal JavaScript SDK -->
    <script src="https://www.paypal.com/sdk/js?client-id=sb&currency=USD&disable-funding=credit,card"></script>
    <script>


        1
        2
        3
        window.onload = function () {

            document.getElementById('goNow').innerHTML = document.getElementById("store-{{listOfStoresUsed.0}}0").innerHTML;
        };

        function show(param_div_id) {

            //document.getElementById('initial').innerHTML = "";
            document.getElementById('goNow').innerHTML = document.getElementById(param_div_id).innerHTML;
        

        }






    </script>
    <script>


    </script>
    <script>
        // Render the PayPal button into #paypal-button-container
        paypal.Buttons({
            style: {
                color: 'gold',
                shape: 'pill',


            },
            // Set up the transaction
            createOrder: function (data, actions) {
                return actions.order.create({
                    purchase_units: [{
                        amount: {
                            value: '{{totalPrice}}' // put total value here to charge
                        }
                    }]
                });
            },

            // Finalize the transaction
            onApprove: function (data, actions) {//if apporved do this
                return actions.order.capture().then(function (details) {
                    // Show a success message to the buyer

                    addressArray = [details.purchase_units[0].shipping.address.address_line_1, details.purchase_units[0].shipping.address.address_line_2,
                    details.purchase_units[0].shipping.address.admin_area_2, details.purchase_units[0].shipping.address.admin_area_1, details.purchase_units[0].shipping.address.postal_code]




                    var shippingAddress = addressArray[0] + addressArray[1] + ", " + addressArray[2] + ", " + addressArray[3] + " " + addressArray[4]
                    shippingAddress = shippingAddress.replace("undefined", " ")


                    document.getElementById("address").value = shippingAddress
                    document.getElementById("MyForm").submit();
                    //window.location.href ="{% url 'home' %}"
                });
            }


        }).render('#paypal-button-container');
    </script>

    </div>


    </div>

</body>

</html>
    
{%endblock%}

