{%extends "../base.html"%}
{% load static %}
{%load tags%}
{%block content%}

<!DOCTYPE html>
<html lang="en">

<link href="{% static 'css/payment.css' %}" rel="stylesheet" type="text/css" media="all" />

<head>
    <!-- Add meta tags for mobile and IE -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title> PayPal Smart Payment Buttons Integration | Client Demo </title>
</head>

<body  style = "overflow-x: hidden;"> 
    <div  class = "topnav" style="cursor: pointer;">
        {% for j,l in r %} 
        
    <!-- This is not an error it says it is but it is not  -->
    <a onclick="show('store-{{l}}{{j}}')">{{l}}</a>
    {% endfor %}
    
</div>

<div style = "float: right; margin-top: 7em; margin-right: 10em; border-style: solid;" >
    <form id="MyForm" method="POST" style="display: none;">
        {% csrf_token %}
        {{form}}
         <input type="submit" value="Say hello" ;>
         
     </form>
    
     <br>
    {% for i,j,k  in pricesAndNamesQuantity  %}
      {{j}}: ${{ i|multiply:k }} <br>
      <p style="border-bottom:1px solid rgb(0, 0, 0);">  X {{k}}</p>
    {% endfor %}

    <p style = "border-top:1px solid rgb(0, 0, 0);font-size: 25px;">${{totalPrice}}</p>
    <br>
    <div id="paypal-button-container" style="width: 10%;"></div>
</div>

    <div id = "goNow" style="margin-top: 3em; margin-bottom: 3em; margin-left: 6em;" class="row">
        
        
        <!-- box left -->
        
    </div>
        
    
        
       
        <!-- we want the first to be visible -->
        {% for j,l in o%}
        <div class="col-sm-8" style="display: none; margin-left: 6em;" id = "store-{{l}}{{j}}">
        
            {% for i  in itemsOrganizedByStore|lookup:j  %} 
            
            <img  width="200em" height="200em" src={{i.item.imgURL}}> <p>{{i.item.name}} Q:{{i.quantity}}</p><br>

            {% endfor %}
            {% endfor %}
             
            
        

       
      
        <!-- box right -->
        
          
       
     
          
        
         


        </div>
       
    </div>
    
<!-- <div class = "container">
    {% for i in "123"  %} 
    <a class = "storeNames" style=" cursor: pointer;">Store{{i}} |</a>
        {% endfor %}
    <table class="table" style="width: 70%;">
        <tbody>
             #reference number of objects here to make list of items  -->
            <!-- {% for i in "123"  %} 
            <tr>
                <th scope="col"><img src="{% static 'images/1.png'%}"> <br><p>Tata Chips Q:1</p></th><br>
                
            </tr>
            {% endfor %}
          
        </tbody>
        
      </table>
       --> 

    <!-- Set up a container element for the button -->
   
    <!-- Include the PayPal JavaScript SDK -->
    <script src="https://www.paypal.com/sdk/js?client-id=sb&currency=USD&disable-funding=credit,card"></script>
       <script> 


1
2
3
        window.onload = function() {
            
            document.getElementById('goNow').innerHTML = document.getElementById("store-{{listOfStoresUsed.0}}0").innerHTML;
                };
                    
            function show(param_div_id) {

                    
                    document.getElementById('goNow').innerHTML = document.getElementById(param_div_id).innerHTML;
                
                }
                       
                       
        
    
    
    
    </script>
    <script>


    </script>
    <script>
        // Render the PayPal button into #paypal-button-container
        paypal.Buttons({
            style:{
                color: 'gold',
                shape: 'pill',
                

            },
            // Set up the transaction
            createOrder: function(data, actions) {
                return actions.order.create({
                    purchase_units: [{
                        amount: {
                            value: '{{totalPrice}}' // put total value here to charge
                        }
                    }]
                });
            },

            // Finalize the transaction
            onApprove: function(data, actions) {//if apporved do this
                return actions.order.capture().then(function(details) {
                    // Show a success message to the buyer
                    
                    addressArray = [details.payer.address.address_line_1, details.payer.address.address_line_2 ,
                    details.payer.address.admin_area_2, details.payer.address.admin_area_1 ,details.payer.address.postal_code]
                   
                    
                    var shippingAddress = addressArray[0] +addressArray[1] + ", " + addressArray[2] + ", " + addressArray[3]+  " " + addressArray[4]
                    shippingAddress = shippingAddress.replace("undefined"," ")
                    
                    alert(shippingAddress)
                    document.getElementById("address").value = shippingAddress
                    document.getElementById("MyForm").submit();
                    //window.location.href ="{% url 'home' %}"
                });
            }


        }).render('#paypal-button-container');
    </script>

      </div>

    
</div>

</body>
</html>
    
{%endblock%}

