{%extends "../base.html"%}
{% load static %}
{% load admin_urls %}
{% load crispy_forms_tags %}


{% block current_page %}XXXXXXXXX{%endblock%}

{%block content%}
<!-- Store Page -->


<div class="login">
	<div style="padding-bottom:28px" class="container">
		<h2 id="NAME"></h2>
	</div>
</div>


<script>

	window.onload = function() {
		var itemID = "{{ itemID }}";
		var itemName = "{{ itemName }}";

		// item info
		document.getElementById("NAME").innerHTML = itemName;
	};

	

</script>

{%endblock%}








